<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <nav>
        <h1>Lifting Buddy</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">My Workouts</a></li>
            <li><a href="/new/plan">Create a Workout</a></li>
        </ul>
    </nav>
    
    <div class="title">
        <h2>My <span> Workout </span> Plans</h2>
    </div>

    <div class="add">
        <a href="/new/plan">Add Workout</a>
    </div>

    <div class="table">
        <table>
            <thead>
                <th>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Actions</td>
                    </tr>
                </th>
            </thead>
            
            <tbody>
                {% for workouts in all_workouts %}
                <tr>
                    <td class="name"><a class="name" href="">{{workouts.name}}</a></td>
                    <td class="user">{{workouts.description}}</td>
                    <td class="actions"><a class="act" href="/update">Update</a> <a class="act" href="">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>