<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an exercise</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercise.css') }}">
</head>
<body>
    <nav>
        <h1>Lifting Buddy</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">My Workouts</a></li>
            <li><a href="/new/plan">Create a Workout</a></li>
        </ul>
    </nav>

    <div class="topbox">
        <h2>Add Exercise</h2>
        <h2 id="title">Workout Plan Name</h2>
    </div>


    <div class="filters">
        
    </div>

</body>
</html>