* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: rgba(0, 0, 0, 0.952);
}

/* Navbar styling */

nav {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    height: 80px;
    position: fixed;
}

ul {
    list-style: none;
    display: flex;
    width: 30%;
}

li {
    margin: 0px 30px;
}

h1 {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #cc0007be;
}


.topbox {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 160px;
    font-size: 40px;
    border-bottom: 2px solid white;
}

h2{
    margin: 0px 60px 0px 60px;
}

#title {
    color: #cc0007;
}




button{
    color: white;
    font-size: 40px;
    width: 170px;
    height: 70px;
    background-color: #cc0007;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    letter-spacing: 1px;
    margin: 5px 30px;
}

button:hover {
    background-color: #cc0007;
    border: 2px solid white;
}

form {
    margin: 50px auto;
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 55px;
}

input {
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 50px;
}

#num {
    width: 100px;
}

p {
    font-size: 40px;
    color: white;
    background-color: #f76e73;
    width: 40%;
    text-align: center;
    margin: 10px auto;
}